Connected Services/GroupServiceReference/Group_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Group_Project" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Group_Project" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53386/Group_Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="User_Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Images" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usertype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_Table" nillable="true" type="tns:User_Table" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mask_Types" nillable="true" type="tns:ArrayOfMask_Type" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="ArrayOfMask_Type">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mask_Type" nillable="true" type="tns:Mask_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMask_Type" nillable="true" type="tns:ArrayOfMask_Type" />
  <xs:complexType name="Mask_Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="tns:Admin" />
      <xs:element minOccurs="0" name="Admin_User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mask_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mask_Type" nillable="true" type="tns:Mask_Type" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="Admin" nillable="true" type="tns:Admin" />
      <xs:element minOccurs="0" name="Admin_User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Custom_Product" nillable="true" type="tns:Custom_Product" />
      <xs:element minOccurs="0" name="Date_Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Donations" nillable="true" type="tns:ArrayOfDonation" />
      <xs:element minOccurs="0" name="Mask_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mask_Type" nillable="true" type="tns:Mask_Type" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Items" nillable="true" type="tns:ArrayOfOrder_Item" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Sizes" nillable="true" type="tns:ArrayOfProduct_Size" />
      <xs:element minOccurs="0" name="Unit_Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Custom_Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Custom_Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filter" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Custom_Product" nillable="true" type="tns:Custom_Product" />
  <xs:complexType name="ArrayOfDonation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Donation" nillable="true" type="tns:Donation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDonation" nillable="true" type="tns:ArrayOfDonation" />
  <xs:complexType name="Donation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Organization_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Donation" nillable="true" type="tns:Donation" />
  <xs:complexType name="ArrayOfOrder_Item">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order_Item" nillable="true" type="tns:Order_Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder_Item" nillable="true" type="tns:ArrayOfOrder_Item" />
  <xs:complexType name="Order_Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Item_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Table" nillable="true" type="tns:Order_Table" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_Item" nillable="true" type="tns:Order_Item" />
  <xs:complexType name="Order_Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Client_User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Delivery" nillable="true" type="tns:Delivery" />
      <xs:element minOccurs="0" name="Delivery_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Guests" nillable="true" type="tns:ArrayOfGuest" />
      <xs:element minOccurs="0" name="Order_Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Order_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Items" nillable="true" type="tns:ArrayOfOrder_Item" />
      <xs:element minOccurs="0" name="Order_Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Session" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Shipping" type="xs:decimal" />
      <xs:element minOccurs="0" name="Order_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="Order_Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Order_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:Payment" />
      <xs:element minOccurs="0" name="Payment_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Payment_Types" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_Table" nillable="true" type="tns:Order_Table" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Business_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feedbacks" nillable="true" type="tns:ArrayOfFeedback" />
      <xs:element minOccurs="0" name="Order_Tables" nillable="true" type="tns:ArrayOfOrder_Table" />
      <xs:element minOccurs="0" name="PayClients" nillable="true" type="tns:ArrayOfPayClient" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Feedback" nillable="true" type="tns:Feedback" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedback" nillable="true" type="tns:ArrayOfFeedback" />
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="Client_User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Feedback_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedback" nillable="true" type="tns:Feedback" />
  <xs:complexType name="ArrayOfOrder_Table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order_Table" nillable="true" type="tns:Order_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder_Table" nillable="true" type="tns:ArrayOfOrder_Table" />
  <xs:complexType name="ArrayOfPayClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayClient" nillable="true" type="tns:PayClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayClient" nillable="true" type="tns:ArrayOfPayClient" />
  <xs:complexType name="PayClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="PayClient_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:Payment" />
      <xs:element minOccurs="0" name="Payment_Id" type="xs:int" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayClient" nillable="true" type="tns:PayClient" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV" type="xs:int" />
      <xs:element minOccurs="0" name="Card_num" type="xs:int" />
      <xs:element minOccurs="0" name="Cardholder_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiry_Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Order_Tables" nillable="true" type="tns:ArrayOfOrder_Table" />
      <xs:element minOccurs="0" name="PayClients" nillable="true" type="tns:ArrayOfPayClient" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="tns:PaymentType" />
      <xs:element minOccurs="0" name="PaymentType_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Payment_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="PaymentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Payments" nillable="true" type="tns:ArrayOfPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentType" nillable="true" type="tns:PaymentType" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Delivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delivered_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Delivery_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_Tables" nillable="true" type="tns:ArrayOfOrder_Table" />
      <xs:element minOccurs="0" name="Pickup_Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Delivery" nillable="true" type="tns:Delivery" />
  <xs:complexType name="ArrayOfGuest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guest" nillable="true" type="tns:Guest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuest" nillable="true" type="tns:ArrayOfGuest" />
  <xs:complexType name="Guest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guest_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guest_FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guest_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_Table" nillable="true" type="tns:Order_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guest" nillable="true" type="tns:Guest" />
  <xs:complexType name="ArrayOfProduct_Size">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product_Size" nillable="true" type="tns:Product_Size" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct_Size" nillable="true" type="tns:ArrayOfProduct_Size" />
  <xs:complexType name="Product_Size">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Size_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Size_Table" nillable="true" type="tns:Size_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product_Size" nillable="true" type="tns:Product_Size" />
  <xs:complexType name="Size_Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dimensions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Size" nillable="true" type="tns:Product_Size" />
      <xs:element minOccurs="0" name="Size_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Size_Table" nillable="true" type="tns:Size_Table" />
</xs:schema>